run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080"]
deploymentTarget = "cloudrun"

[env]
REPLIT_DISABLE_PACKAGE_LAYER = "1"

[objectStorage]
defaultBucketID = "replit-objstore-79c8cd88-525c-4883-857a-badfc3b09dba"

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80
